In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_parquet("employee_earnings.parquet")

In [3]:
df

,emp_id,first_name,middle_initial,last_name,email,date_of_birth,date_of_joining,ssn,phone_number,user_name,password,office_branch,earnings
0,526540,Angelique,K,Goodwin,angelique.goodwin@gmail.com,1964-05-15,2001-03-24,471-57-0359,212-884-7146,akgoodwin,z{d>ez%{.@,Nashua,6227
1,859327,Jeni,S,Shaffer,jeni.shaffer@gmail.com,1962-01-13,2015-12-10,624-85-4146,205-665-7020,jsshaffer,7U56!*!O,Stanford,4437
2,887387,Donald,T,Farris,donald.farris@bellsouth.net,1958-04-11,1979-11-12,097-02-3315,205-959-7879,dtfarris,rX.F{j&]&m&&X,Stanford,6228
3,779497,Steven,D,Rendon,steven.rendon@gmail.com,1982-04-04,2008-09-18,134-98-6566,217-858-0054,sdrendon,a+2;sx}<G]y,Nashua,3127
4,896517,Jenell,L,Almanza,jenell.almanza@yahoo.com,1958-07-01,1993-07-14,599-92-7345,314-893-2590,jlalmanza,Ou7RX{yT,New York,3930
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,549389,Clemente,M,Gould,clemente.gould@hotmail.com,1961-12-31,1992-10-02,271-17-5467,228-485-0919,cmgould,m1%+0ojh7VIvJ,Stanford,4052
96,466832,Chang,K,Roden,chang.roden@yahoo.com,1988-09-07,2010-08-06,074-02-9202,316-256-7851,ckroden,5|Rn]G:#58f$>+S,Nashua,2886
97,203380,Marvin,R,Nickel,marvin.nickel@ibm.com,1986-11-25,2012-10-06,552-99-5545,270-750-7760,mrnickel,8*E[g-_X|,Scranton,8586
98,915991,Eldora,Y,Tribble,eldora.tribble@earthlink.net,1995-05-29,2016-10-17,763-12-2082,236-584-1916,eytribble,z>ms?;$8-u,Nashua,6493
99,289172,Azzie,L,Layman,azzie.layman@hotmail.co.uk,1961-09-06,2004-03-26,637-29-1007,503-456-5899,allayman,k<%?%TML.].1ZY,New York,5261

In [4]:
def generate_data(a):
    min_values = df['earnings'].min()
    average_values = df['earnings'].mean()
    
    for i in range(a):
        df['earnings'] = np.random.randint(min_values, average_values, size=df.shape[0])
        filename = f"dataframe{i}.parquet"  # Use string formatting to create the filename
        df.to_parquet(filename)
        return df

In [5]:
print(generate_data(2))

    emp_id first_name middle_initial last_name                         email  \
0   526540  Angelique              K   Goodwin   angelique.goodwin@gmail.com
1   859327       Jeni              S   Shaffer        jeni.shaffer@gmail.com
2   887387     Donald              T    Farris   donald.farris@bellsouth.net
3   779497     Steven              D    Rendon       steven.rendon@gmail.com
4   896517     Jenell              L   Almanza      jenell.almanza@yahoo.com
..     ...        ...            ...       ...                           ...
95  549389   Clemente              M     Gould    clemente.gould@hotmail.com
96  466832      Chang              K     Roden         chang.roden@yahoo.com
97  203380     Marvin              R    Nickel         marvin.nickel@ibm.com
98  915991     Eldora              Y   Tribble  eldora.tribble@earthlink.net
99  289172      Azzie              L    Layman    azzie.layman@hotmail.co.uk

   date_of_birth date_of_joining          ssn  phone_number  user_name  \
0     1964-05-15      2001-03-24  471-57-0359  212-884-7146  akgoodwin
1     1962-01-13      2015-12-10  624-85-4146  205-665-7020  jsshaffer
2     1958-04-11      1979-11-12  097-02-3315  205-959-7879   dtfarris
3     1982-04-04      2008-09-18  134-98-6566  217-858-0054   sdrendon
4     1958-07-01      1993-07-14  599-92-7345  314-893-2590  jlalmanza
..           ...             ...          ...           ...        ...
95    1961-12-31      1992-10-02  271-17-5467  228-485-0919    cmgould
96    1988-09-07      2010-08-06  074-02-9202  316-256-7851    ckroden
97    1986-11-25      2012-10-06  552-99-5545  270-750-7760   mrnickel
98    1995-05-29      2016-10-17  763-12-2082  236-584-1916  eytribble
99    1961-09-06      2004-03-26  637-29-1007  503-456-5899   allayman

           password office_branch  earnings
0        z{d>ez%{.@        Nashua      3182
1          7U56!*!O      Stanford      2608
2     rX.F{j&]&m&&X      Stanford      5504
3       a+2;sx}<G]y        Nashua      4921
4          Ou7RX{yT      New York      4863
..              ...           ...       ...
95    m1%+0ojh7VIvJ      Stanford      3129
96  5|Rn]G:#58f$>+S        Nashua      3802
97        8*E[g-_X|      Scranton      5704
98       z>ms?;$8-u        Nashua      5293
99   k<%?%TML.].1ZY      New York      4807

[100 rows x 13 columns]

In [6]:
df

,emp_id,first_name,middle_initial,last_name,email,date_of_birth,date_of_joining,ssn,phone_number,user_name,password,office_branch,earnings
0,526540,Angelique,K,Goodwin,angelique.goodwin@gmail.com,1964-05-15,2001-03-24,471-57-0359,212-884-7146,akgoodwin,z{d>ez%{.@,Nashua,3182
1,859327,Jeni,S,Shaffer,jeni.shaffer@gmail.com,1962-01-13,2015-12-10,624-85-4146,205-665-7020,jsshaffer,7U56!*!O,Stanford,2608
2,887387,Donald,T,Farris,donald.farris@bellsouth.net,1958-04-11,1979-11-12,097-02-3315,205-959-7879,dtfarris,rX.F{j&]&m&&X,Stanford,5504
3,779497,Steven,D,Rendon,steven.rendon@gmail.com,1982-04-04,2008-09-18,134-98-6566,217-858-0054,sdrendon,a+2;sx}<G]y,Nashua,4921
4,896517,Jenell,L,Almanza,jenell.almanza@yahoo.com,1958-07-01,1993-07-14,599-92-7345,314-893-2590,jlalmanza,Ou7RX{yT,New York,4863
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,549389,Clemente,M,Gould,clemente.gould@hotmail.com,1961-12-31,1992-10-02,271-17-5467,228-485-0919,cmgould,m1%+0ojh7VIvJ,Stanford,3129
96,466832,Chang,K,Roden,chang.roden@yahoo.com,1988-09-07,2010-08-06,074-02-9202,316-256-7851,ckroden,5|Rn]G:#58f$>+S,Nashua,3802
97,203380,Marvin,R,Nickel,marvin.nickel@ibm.com,1986-11-25,2012-10-06,552-99-5545,270-750-7760,mrnickel,8*E[g-_X|,Scranton,5704
98,915991,Eldora,Y,Tribble,eldora.tribble@earthlink.net,1995-05-29,2016-10-17,763-12-2082,236-584-1916,eytribble,z>ms?;$8-u,Nashua,5293
99,289172,Azzie,L,Layman,azzie.layman@hotmail.co.uk,1961-09-06,2004-03-26,637-29-1007,503-456-5899,allayman,k<%?%TML.].1ZY,New York,4807